.list-item-todo {
  height: 40px;
  border-bottom: 1px solid rgb(158, 158, 158);
  background-color: rgba(255, 255, 255, 0.473);
  display: flex;
  align-items: center;
  padding-left: 20px;
  font-size: 0.9rem;
}